html {
	overflow-x: hidden;
	overflow-y: hidden; 
}

img#card {
    margin: 10px;
    width: 60px;
    float: left;
    height: 60px;
}
div#bg {
    background: rgb(8, 8, 8);
    height: 80%;
    width: 100%;
    position: absolute;
    opacity: 0.75;
    filter: alpha(Opacity=80);
	-moz-opacity: 0.5;
	z-index: 1;
	margin: -8px;
	top: 108px;
}
div#box1 {
    padding: 5px;
    height: 80px;
    border-bottom: 1px solid #B9ABAB;
}
div#rel {
    margin: auto;
    display: inline;
    float: left;
    width: 60%;
}

label#word1 {
    display: block;
    position: relative;
    top: 13px;
    font-size: medium;
    color: #000;
}


label#word2 {
    display: block;
    position: relative;
    top: 15px;
    font-size: small;
    color: #000;
}

label#word3 {
    display: block;
    position: relative;
    top: 20px;
    font-size: small;
    color: blue;
}
p#reward {
    float: right;
    background: red;
    border-radius: 10px;
    padding: 3px 5px;
    color: #fff;
    margin: 29px 3px;
    font-size: small;
    width: 68px;
    text-align: center;
}
a#link {
	text-decoration: none;	
}
